* {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background: #ffffff;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

header {
    /* border-bottom: 2px solid darkgrey; */
    color: white;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;

}

h1 {
    color: #ffffff;
    background: #4aaaa5;
    text-align: center;
    margin: 10px;
    padding: 20px 30px 20px 30px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    border-bottom: 1px solid rgb(131, 11, 11);
    padding-bottom: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin: 30px;
    padding: 30px;
    border: 5px solid black;
}

footer {
    background: #666666;
    height: 50px;
    border-top: 8px solid #4aaaa5;
    margin-top: 0px;   
    text-align: center;
    color: white;
    /* Need to make the copyright going to the bottom of the footer, and change font size*/
}

 #copyright {

}

p {
    line-height: 2;
    text-align: justify;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    padding-top: 40px;
    padding-right:20px;
}
    /*    position: absolute;
    bottom:0; */
 /*
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.
   3. Make a "sticky footer." You will notice the dark grey footer will always rest just below the content. 
   * Try to code the footer in a way that it will always remain at the bottom of the page, no matter how short the content is. A sticky footer tutorial 